<%if current_user.has_role? :admin %>
<%= button_to "Add Health Tips", new_health_path ,:method=> :get, remote: true, :class=>"btn btn-success signup-login-btn", 'data-toggle' => 'modal', 'data-target'=>'#myModal'%>
<%end%>


<div class="container">
    <div class="bar">
      <div class="row">

        <div class="col-sm-12">
          <div class="add-user text-right">
           <a href="">
           </a>
         </div>
       </div>
     </div>
   </div>
 </div>
 <div class="container">
  <div class="row">
    <div class="transbox">
      <table id="t01">
        <tr>
          <th></th>

          <th>Title</th>
          <th></th>
          <th></th>



          <th>Description</th>
          <th>Created At</th>

        </tr>

        <%= render :partial=>"/healths/index" -%>

      </table>
    </div>
  </div>



