      <table id="t01">
        <tr>
          <th>Hospital Name</th>
          <th>Patients Name</th>
          <th>Appointment Time <i></i></th>
          <th>Appointment Date </th>
          <th></th>
        </tr>

        <% @appointments.each do |appointment| %>
        <tr>
          <td ><%= appointment.speciality.try(&:hospital_name) %></td >
            <td ><%= appointment.user.name %></td >
              <td ><%= appointment.appointment_time.strftime("%H:%M %p")%></td >
                <td ><%= appointment.appointment_date.strftime("%d-%m-%y") %></td >

                  <%end%>
                </tr>
              </table>
