

<div class="container">
    <div class="bar">
      <div class="row">

        <div class="col-sm-12">
          <div class="add-user text-right">
           <a href="">
           </a>
         </div>
       </div>
     </div>
   </div>
 </div>
 <div class="container">
  <div class="row">
    <div class="transbox">
      <table id="t01">
        <tr>
          <th>Time</th>
          <th></th>
        </tr>
        <tr>
        	<td>1:30</td>
        </tr>

        <%#= render :partial=>"/speciality/index" -%>

      </table>
    </div>
  </div>



