<img src="/assets/doc.jpg" alt="Smiley face" height="650" width="800" margin-left="-1295px">
<div class="text">
</br>
</br>
</br>
The “DOCTALK” application has been
developed to override the problems of the patients to reach the
respective Doctor in a quick and reliable way. Moreover this
application is designed to take appointments online based on
token system. This application reduces the risk of the patients to
search for the doctor’s venue and availability timings.This application reduces the risk of the patients to search for the doctor’s venue and availability timings. Patients
can post their problems online and seek for the doctor’s
solutions.
</div>
