<style>
div.container123 {
    width: 100%;

}


.nav1 {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}


.article {
    margin-left: 100px;
    padding: 18em;
    overflow: hidden;
}
.doctorapp{
  font-size: 18px;
  white-space: nowrap;
}
#content {
    position: relative;
}
#content img {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 600px;
}

</style>


<div class="container123">

<div class="nav1">
  <ul>
  </br>
    <li><%= link_to "Manage Speciality", speciality_index_path, :class=> "doctorapp" %></li>
    </br>
    </br>

    <li><a href="#" class="doctorapp"> Suggestions</a></li>
    </br>
    </br>

    <li><%= link_to "Manage Health Tips", healths_path, :class=> "doctorapp" %></li>
    </br>
    </br>

    <li><%= link_to "Account Settings", edit_user_path(current_user), :class=> "doctorapp" %>
    </li>
  </ul>
</div>

<article>
<div class="text1">
</br>
</br>
</br>
This app sets up online communication between
a doctor and a patient. This app will facilitate the patients to
interact with doctors without making any physical
appointments. In addition using this app, the patient can make
an appointment to meet the doctor in clinic/hospital. In which
patients can view the Doctors venue and available timings in the
application and make appointment, whereas he/she can search
for the SPECIALITY in which they want to make appointment.
Under that specialty they can view all the doctors. As soon as
they take appointment they will get a confirmation Email with
the TOKEN number and timings. This application will contain
HEALTH TIPS where anyone can view in the application and
contact doctors. Patients can chat with the Doctors for suggestion too.
</div>
</article>
<div id="content">
    <img src="/assets/doc123.jpg" class="ribbon"/>
</div>

<!-- <img src="/assets/doc123.jpg" alt="Smiley face" height="100" width="100"></img> -->

</div>

