<div >
<%if current_user.has_role? :admin %>
<%end%>
</div>



<style>
div.container123 {
    width: 100%;

}


.nav1 {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}


.article {
    margin-left: 100px;
    padding: 18em;
    overflow: hidden;
}
.doctorapp{
  font-size: 18px;
  white-space: nowrap;
}
#content {
    position: relative;
}
#content img {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 600px;
}

</style>


<div class="container123">

<div class="nav1">
  <ul>
  </br>
    <li><a href="#" class="doctorapp">Manage Speciality</a></li>
    </br>
    </br>

    <li><a href="#" class="doctorapp">Manage Users</a></li>
    </br>
    </br>

    <li><a href="#" class="doctorapp">Manage Health Tips</a></li>
    </br>
    </br>

    <li><a href="#" class="doctorapp">Suggestions</a></li>
  </ul>
</div>

<article>
<div class="text1">
</br>
</br>
</br>
The “DOCTALK” application has been
developed to override the problems of the patients to reach the
respective Doctor in a quick and reliable way. Moreover this
application is designed to take appointments online based on
token system. This application reduces the risk of the patients to
search for the doctor’s venue and availability timings.This application reduces the risk of the patients to search for the doctor’s venue and availability timings. Patients
can post their problems online and seek for the doctor’s
solutions.
</div>
</article>
<div id="content">
    <img src="/assets/doc123.jpg" class="ribbon"/>
</div>

<!-- <img src="/assets/doc123.jpg" alt="Smiley face" height="100" width="100"></img> -->

</div>
